
body{
    
      font-family: 'PT Sans Narrow', sans-serif;
      /*font-family: 'Patua One', cursive;*/
    }
    
    #displayNewspaperGif {
    
        background-image: url("../public/images/newspaper.jpeg");
        color: white;
        height: 250px;
        /*background-color: #cccccc;*/
    }
    
    li {
      font-size: 20px;
    }
    
    .title{
        font-size: 25px;
    }
    
    .saveArticle {
      background-color: #F8C471;
      border-color: #F8C471;
    }